@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Alex Marcelo<br />
    João Pessoa, PB<br />
    <abbr title="Phone">Fone:</abbr>
    (83) 99815-9002
</address>

<address>
    <strong>Suporte:</strong> <a href="alexm9002@gmail.com">alexm9002@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:alexm9002_Marketing@gmail.com">alexm9002marketing@gmail.com</a>
</address>
